$xss-size:0.3em;
$xs-size:0.5em;

$s-size:1em;

$m-size:2.5em;

$l-size:4.5em;

//font style variable

$font-family:$s-size  helvetica sans-serif;

//color variable
$primary-color:rgb(204, 221, 255);
$secondry-color:rgb(115, 99, 71);
//style for button
@mixin button-theme{
    border-radius:$xss-size;
   
}
//style for display
@mixin display-theme{
    display: flex;
    flex-flow: column wrap;
}